# ESP-IDF build artifacts
/managed_components/
/build/
/*.elf
/*.bin
/*.map
*.log

# SDK config
/sdkconfig
/sdkconfig.ci
/sdkconfig.old

# IDE and tools
.DS_Store
*.code-workspace
CMakeFiles/
CMakeCache.txt
Makefile
.cache/

# Python
__pycache__/
*.pyc
.env/

# Project specific
certs/
config/
dependencies.lock
