CONFIG_FREERTOS_GENERATE_RUN_TIME_STATS=y

CONFIG_ESPTOOLPY_FLASHSIZE_4MB=y
CONFIG_ESPTOOLPY_FLASHSIZE="4MB"

CONFIG_PARTITION_TABLE_CUSTOM=y
CONFIG_PARTITION_TABLE_CUSTOM_FILENAME="partition_table/partition_table.csv"

# Core dump configuration
CONFIG_ESP_COREDUMP_ENABLE_TO_FLASH=y

CONFIG_LWIP_SNTP_MAX_SERVERS=3
CONFIG_BOOTLOADER_APP_ROLLBACK_ENABLE=y
