CONFIG_ENABLE_SUPERVISOR_BUTTON=y
CONFIG_ENABLE_SUPERVISOR_DEBUG=y
# CONFIG_ENABLE_SUPERVISOR_DS18B20=y
# CONFIG_ENABLE_SUPERVISOR_ESP_NOW_RX=y
# CONFIG_ENABLE_SUPERVISOR_LED=y
# CONFIG_ENABLE_SUPERVISOR_RF433=y
# CONFIG_ENABLE_SUPERVISOR_ZIGBEE=y
# CONFIG_ENABLE_SUPERVISOR_NEOPIXEL=y
CONFIG_ENABLE_SUPERVISOR_LED_INDICATOR=y

CONFIG_BUTTON_GPIO_LIST="41:0"

# System event task stack size (default 2304 too small for MQTT/HA init in event handlers)
CONFIG_ESP_SYSTEM_EVENT_TASK_STACK_SIZE=3072

CONFIG_TCP_OTA_TASK_STACK_SIZE=5120

