# Usage: -DDEVICE_PROFILE=atom -DDEVICE_PROFILE_VARIANT=mesh

CONFIG_ENABLE_SUPERVISOR_INET_MESH=y

# --- ESP-LITE-MESH ---
CONFIG_MESH_LITE_ENABLE=y
CONFIG_MESH_LITE_NODE_INFO_REPORT=y
CONFIG_DEVICE_CATEGORY="sensor"

# --- ESP-LITE-MESH --- # --- FREERTOS / STACK TUNING ---
CONFIG_FREERTOS_TIMER_TASK_STACK_DEPTH=6144

# --- ESP-LITE-MESH --- # --- BRIDGE ---
CONFIG_BRIDGE_ETHERNET_NETIF_ENABLE=n
CONFIG_BRIDGE_SOFTAP_SSID_END_WITH_THE_MAC=y
