# Usage: -DDEVICE_PROFILE=atom -DDEVICE_PROFILE_VARIANT=inet

# CONFIG_ENABLE_SUPERVISOR_INET=y
CONFIG_ENABLE_SUPERVISOR_INET_ETHERNET=y

# Ethernet Hardware Backend
CONFIG_CIKON_ETHERNET_W5500=y

# W5500 SPI Pinout (M5Stack Atomic PoE Base with AtomS3)
CONFIG_W5500_SPI_HOST=2
CONFIG_W5500_SPI_CLOCK_MHZ=40
CONFIG_W5500_SPI_SCLK_GPIO=5
CONFIG_W5500_SPI_MOSI_GPIO=8
CONFIG_W5500_SPI_MISO_GPIO=7
CONFIG_W5500_SPI_CS_GPIO=6
CONFIG_W5500_INT_GPIO=-1
CONFIG_W5500_PHY_RST_GPIO=-1
CONFIG_W5500_POLLING_MS=5