CONFIG_ENABLE_SUPERVISOR_DEBUG=y
CONFIG_ENABLE_SUPERVISOR_THREAD_DEVICE=y

# Status LED (GPIO8 on C6 DevKit — RGB WS2812B)
# CONFIG_BOARD_STATUS_LED_GPIO=8

# eventfd required by OpenThread
CONFIG_VFS_EVENTFD_MAX_FDS=5

# OpenThread common
CONFIG_OPENTHREAD_ENABLED=y
CONFIG_OPENTHREAD_CLI=y
CONFIG_OPENTHREAD_RADIO_NATIVE=y
CONFIG_IEEE802154_ENABLED=y
CONFIG_OPENTHREAD_DNS64_CLIENT=y

# mbedTLS for OpenThread
CONFIG_MBEDTLS_ECJPAKE_C=y
CONFIG_MBEDTLS_KEY_EXCHANGE_ECJPAKE=y
CONFIG_MBEDTLS_SSL_PROTO_DTLS=y
CONFIG_MBEDTLS_CMAC_C=y

# LWIP for Thread netif
CONFIG_LWIP_IPV6_NUM_ADDRESSES=8
CONFIG_LWIP_HOOK_IP6_SELECT_SRC_ADDR_CUSTOM=y
CONFIG_LWIP_MULTICAST_PING=y
