CONFIG_ENABLE_SUPERVISOR_BUTTON=y
CONFIG_ENABLE_SUPERVISOR_DEBUG=y
CONFIG_ENABLE_SUPERVISOR_DS18B20=y
#CONFIG_ENABLE_SUPERVISOR_ESP_NOW_RX=y
CONFIG_ENABLE_SUPERVISOR_INET=y
#CONFIG_ENABLE_SUPERVISOR_INET_MESH=y
CONFIG_ENABLE_SUPERVISOR_LED=y
CONFIG_ENABLE_SUPERVISOR_RF433=y
#CONFIG_ENABLE_SUPERVISOR_ZIGBEE=y
